# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 17.9 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [8]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://Syahresaa:Syahresaa1@cluster0.rynrg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [9]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('673b3484d8a71eb8ad52bbdf'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe0'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [10]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('673b3484d8a71eb8ad52bbdf'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe0'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [11]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [12]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Physics', 'max_enrollment': 15}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [13]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673b3484d8a71eb8ad52bbdf'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe0'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe1'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe2'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [14]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673b3484d8a71eb8ad52bbdf'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe0'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe1'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe2'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [15]:
#Homework 1: Perform an aggregation to get a count of courses per department.
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}

In [42]:
#Menambahkan data pada department Computer Science
courses = [
    {'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science'},
    {'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science'},
    {'course': 'CS 105', 'enrollments': 20, 'department': 'Computer Science'}
]

result = courses_collection.insert_many(courses)
print('Courses inserted successfully')

Courses inserted successfully

In [17]:
from pymongo import MongoClient

client = MongoClient('mongodb+srv://Syahresaa:Syahresaa1@cluster0.rynrg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
students_collection = db['students']

# Daftar data siswa
students_data = [
    {"name": "Resa", "enrolled_courses": ["Math 101", "CS 102", "CS 105"]},
    {"name": "Anbi", "enrolled_courses": ["Physics 202", "Math 101", "CS 104"]},
    {"name": "Budi", "enrolled_courses": ["CS 101", "History 201", "CS 104"]},
    {"name": "Eren", "enrolled_courses": ["Math 101", "Physics 202", "CS 103"]},
    {"name": "Ipin", "enrolled_courses": ["History 201", "CS 102", "CS 105"]},
    {"name": "Rimuru", "enrolled_courses": ["Math 101", "History 201", "CS 104"]},
    {"name": "Anos", "enrolled_courses": ["Physics 202", "CS 102"]},
    {"name": "Wahyu", "enrolled_courses": ["History 201", "Math 101", "CS 103"]},
    {"name": "Lucy", "enrolled_courses": ["CS 102", "Physics 202", "CS 105"]},
    {"name": "Citra", "enrolled_courses": ["Math 101", "History 201"]}
]

students_collection.insert_many(students_data)
print('Data siswa berhasil dimasukkan.')

Data siswa berhasil dimasukkan.

In [44]:
#Homework 2: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'CS 103', 'total_enrollments': 30}
{'_id': 'CS 104', 'total_enrollments': 35}

In [18]:
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'enrolled_courses', 'as': 'enrolled_students'}},
    { '$project': {'course': 1, 'department': 1, 'enrollments': 1, 'enrolled_students': {'$map': {'input': '$enrolled_students', 'as': 'student', 'in': '$$student.name'}}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673b3484d8a71eb8ad52bbdf'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': ['Resa', 'Anbi', 'Eren', 'Rimuru', 'Wahyu', 'Citra']}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe0'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': ['Resa', 'Budi', 'Ipin', 'Anos', 'Lucy']}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe1'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolled_students': ['Budi', 'Ipin', 'Rimuru', 'Wahyu', 'Citra']}
{'_id': ObjectId('673b3484d8a71eb8ad52bbe2'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolled_students': ['Anbi', 'Eren', 'Anos', 'Lucy']}